/* BlogSection.css */

/* Styles par défaut */

.blog-section {
  background-color: #f3f6fc;
  padding: 50px 0;
  text-align: center;
}

.blog-container {
  max-width: 1200px;
  margin: 0 auto;
}

.blog-title {
  color: #2f4858;
  font-size: 48px;
  margin-bottom: 48px;
}

.highlight-text {
  color: #00ed99;
}

.articles-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 20px auto 48px auto;
}

.article {
  width: 30%;
  background-color: #fff;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: start;
}

.article-image {
  width: 100%;
  height: 200px;

  border-radius: 8px;
  margin-bottom: 10px;
}

.date {
  color: #00ed99;
  font-size: 14px;
}

.article-title {
  color: #2f4858;
  font-weight: bold;
  margin-bottom: 10px;
}

.article-summary {
  color: #2f4858;
  font-weight: 500;
}

/* Ajout pour l'icône d'horloge et le temps de lecture */

.article-footer {
  display: flex;
  align-items: center;
  margin-top: 10px;
  color: #e0e0e0;
}

.clock-icon {
  height: 12px;
  color: #e7e7e7;
  margin-right: 5px;
  margin-top: 1px;
}

.read-time {
  font-size: 14px;
  color: #e7e7e7;
}

/* Style du bouton "Voir plus d'articles" */

.view-more-button {
  min-width: 130px;
  height: auto;
  color: #ffffff;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: inline;
  border-radius: 980px;
  border: 2px solid #00ec99;
  background: #00ec99;
  font-family: Satoshi-Variable, sans-serif;
  font-size: 20px;
  font-weight: bold;
  margin: auto;
}
.view-more-button:hover {
  background: white;
  color: #00ec99;
  border: 2px solid #00ec99;
  scale: 1.1;
}
/* Styles pour tablette (par exemple, jusqu'à 768px) */

@media screen and (max-width: 768px) {
  .article {
    width: 48%;
  }

  .articles-container {
    flex-direction: column;
  }
}

/* Styles pour mobile (par exemple, jusqu'à 480px) */

@media screen and (max-width: 480px) {
  .article {
    width: 100%;
    margin: 1rem auto;
  }

  .articles-container {
    flex-direction: column;
    margin-bottom: 20px;
  }
  .blog-title{
    font-size: 9vw;
    font-weight: 600;
    letter-spacing: -1px;
  }
  .blog-section{
    padding: 48px 20px 20px 20px;
  }
}
