/* Styles communs pour toutes les tailles d'écran */
.chargingService-card {
  padding: 0px 60px 100px 60px;
  background-color: #fff;
}
.chargingService-card-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.chargingService-card__wrapper.text-left {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  background-color: #fff;
  border-radius: 20px;
}
.chargingService-card__wrapper.text-right {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  background-color: #c4fee0;
  border-radius: 20px;
}
.chargingService-card-label.green {
  background-color: #c4fee0;
  color: #07eb99;
  padding: 8px 20px;
  border-radius: 8px;
  margin-bottom: 1rem;
  font-weight: 600;
}

.chargingService-card-label.blue {
  background-color: #2f4858;
  color: #07eb99;
  padding: 8px 20px;
  border-radius: 8px;
  margin-bottom: 1rem;
  font-weight: 600;
}

.chargingService-card-title {
  font-size: 48px;
  text-align: start;
  font-weight: 700;
  letter-spacing: -1px;
  margin-bottom: 48px;
}

.chargingService-card-title-part1 {
  color: #2f4858;
}
.chargingService-card-title-part2 {
  color: #07eb99;
}

.chargingService-card-description {
  color: #2f4858;
  font-size: 18px;
  font-weight: 500;
  text-align: start;
  line-height: 36px;
}

/* Styles pour la version mobile (max-width: 767.98px) */
@media screen and (max-width: 767.98px) {
  .chargingService-card {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .chargingService-card-label,
  .chargingService-card-title,
  .chargingService-card-description {
    text-align: center;
  }

  .chargingService-card-label,
  .chargingService-card-title-part1 {
    margin-bottom: 10px;
  }
}

/* Styles pour la version tablette (min-width: 768px et max-width: 991.98px) */
@media screen and (min-width: 768px) and (max-width: 991.98px) {

}

/* Styles pour la version laptop (min-width: 992px) */
@media screen and (min-width: 992px) {
  .chargingService-card-text {
    padding: 40px;
    width: 60%;
  }
  .chargingService-card-image-container {
    width: 40%;
    top: 0;
    align-self: stretch;
    position: relative;
    overflow: hidden;
  }
  .chargingService-card-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
    position: absolute;
  }
  .chargingService-card-image.on-left {
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
  }
  .chargingService-card-image.on-right {
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
  }
}
